@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* White background for light theme */
  --background-end-rgb: 255, 255, 255;   /* White background for light theme */
  --navbar-text-rgb: 0, 0, 0;            /* Dark text color for light theme */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255; /* White background for dark theme */
    --background-end-rgb: 255, 255, 255;   /* White background for dark theme */
    --navbar-text-rgb: 0, 0, 0;            /* Dark text color for dark theme */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.nav {
  color: rgb(var(--navbar-text-rgb));
}

.cart {
  color: rgb(var(--navbar-text-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* styles/globals.css */
.mock-checkout {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.mock-card-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#submit {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit:disabled {
  background-color: #ccc;
}

.result-message {
  margin-top: 20px;
  color: green;
}

.result-message.hidden {
  display: none;
}
